In [1]:
import pandas as pd
import numpy as np
import datetime as datetime
from datetime import datetime
import locale

In [37]:
def imsakiye(sehir):
    df = pd.read_html(f'https://www.milliyet.com.tr/ramazan/imsakiye/almanya-{sehir}-iftar-vakti/')[0]
    df['date'] = df['Tarih'].str.extract(r'\d+\. Gün (\d+ \w+ \d{4})')
    df = df.drop('Tarih', axis = 1)
    locale.setlocale(locale.LC_TIME, 'tr_TR')
    df['date'] = pd.to_datetime(df['date'], format='%d %B %Y')
    df['date'] = df['date'].dt.date
    date_column = df.pop('date')
    df.insert(0, 'date', date_column)
    return df

In [38]:
df = imsakiye('berlin')
df

         date  İmsak  Güneş   Öğle İkindi  Akşam  Yatsı
0  2024-01-15  06:07  08:04  12:21  14:06  16:27  18:11
1  2024-01-16  06:06  08:03  12:21  14:07  16:29  18:12
2  2024-01-17  06:06  08:02  12:21  14:08  16:31  18:13
3  2024-01-18  06:05  08:01  12:22  14:10  16:32  18:15
4  2024-01-19  06:04  08:00  12:22  14:11  16:34  18:16
5  2024-01-20  06:04  07:59  12:22  14:12  16:36  18:17
6  2024-01-21  06:03  07:58  12:23  14:14  16:37  18:19
7  2024-01-22  06:02  07:57  12:23  14:15  16:39  18:20
8  2024-01-23  06:01  07:55  12:23  14:17  16:41  18:22
9  2024-01-24  06:00  07:54  12:23  14:18  16:43  18:23

In [39]:
df[0:1]

         date  İmsak  Güneş   Öğle İkindi  Akşam  Yatsı
0  2024-01-15  06:07  08:04  12:21  14:06  16:27  18:11

In [22]:
def kalan_süreyi_hesapla(sehir):
    df = imsakiye(sehir)
    now = datetime.now()
    aksam_time = pd.to_datetime(df['Akşam'][0], format='%H:%M')
    combined_aksam_time = datetime.combine(now.date(), aksam_time.time())
    # Eğer aksam zamanı şu andan önceyse, bir sonraki gün için hesapla
    if combined_aksam_time < now:
        combined_aksam_time = datetime.combine(now.date() + timedelta(days=1), aksam_time.time())
    remaining_time = combined_aksam_time - now
    hours, remainder = divmod(remaining_time.seconds, 3600)
    minutes = remainder // 60
    print("Kalan süre: {} hours {} minute".format(hours, minutes))

In [24]:
kalan = kalan_süreyi_hesapla('berlin')

Kalan süre: 16 hours 40 minute